@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,300&family=Press+Start+2P&family=Tiro+Bangla&display=swap');
body {
    font-family: 'Noto Serif Bengali', serif;
    background-color: #f8f7f7;
    height: 100%;
}

/* design the heading */
#heading{
    background-color:rgba(186,179,218,0.11);
    border: 1px solid #ccc;
    width:80%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    border-radius: 6px;
   }
.container{
    width: 400px;
    height: max-content;
    /* border: 1px solid #ccc; */
    margin: 0 auto;
}

.audio-player, .ayat-container, .sure{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.audio-player audio:hover{
    cursor: pointer;
}

.sura{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}

.sura p{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}

.sura p:hover{
    background-color: #ccc;
}

#listen{
    font-size: 18px;
    font-weight: bold;
}

#next{
    font-family: 'Noto Serif Bengali', serif;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 150px;
    margin-left: 120px;
}

.search{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 22px;
    text-align: center;
}

.search input{
    width: 25%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    text-align: center;
    outline: none;
    margin-bottom: 5px;
}

.search input:focus{
    border: 1px solid #ccc;
}

.search button{
    font-family: 'Noto Serif Bengali', serif;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 150px;
    margin-left: 10px;
}

#nextSearchBtn{
    font-family: 'Noto Serif Bengali', serif;
    /* background-color: aqua; */
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 150px;
    margin-left: 120px;
    display: none;
}

.ayat-container{
    position: relative;
    min-height: 60px;
}

.tab-btn{
    display: flex;
    margin-left: 40px;
}

.tab-btn button{
    font-family: 'Noto Serif Bengali', serif;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 6px;
    width: 155px;
}

.tab-btn button:hover{
    background-color: #ccc;
}

.tab-btn button:nth-child(2){
    margin-left: 10px;
}

.ayat-container p{
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
}

#arabicAyat{
    display: none;
}

#takeScreenshot{
    margin: 5px 120px;
    font-family: 'Noto Serif Bengali', serif;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 150px;
}